<!-- <div>
    <div class="facebook">
        <a ng-click="login('facebook')"><img src="./assets/fb.png" id="fbimg"></a> 
      </div> 
</div>

<div ng-controller="CollapseDemoCtrl">
	<button class="btn btn-default" ng-click="isCollapsed = !isCollapsed">Toggle collapse</button>
	<hr>
	<div collapse="isCollapsed">
		<div class="well well-lg">Some content</div> 
	</div>
</div> -->
<br/>
<br/>
<br/>

<p align="center"><img ng-src="{{ user.picture.data.url }}" /></p>

<button ng-click="sayHello()">Click </button>

<h2 align="center">Hello {{user.first_name}}, please add people to your dashboard.</h2>
  
<p><a href="#" ui-sref="home">Home</a></p>

<ul class="list-group" style="width=50%" ng-repeat="item in items" ng-if="item.id != user.id">
  <li class="list-group-item">
    <img ng-src="{{ item.picture.data.url }}" />
    {{item.first_name}} {{item.last_name}}

    <em class="pull-right">
      <div class="btn-group">
        <button ng-click="addItem(item)" class="btn btn-primary">Add</button>
      </div>
    </em>
  </li>


</ul>



<p><a href="#" ng-click="logout()">logout</a></p>
