<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<div>


<h1 align="center">Welcome to Roomie/$!</h1>

<h3 align="center">
	<div id="loginDiv">
		<a href="#" ng-click="attemptLogin('facebook')">login</a>
	</div>
</h3>

<!--<a href="#" ng-hide="auth.user" ng-click="auth.$login('facebook')">Login huehue</a>


<div id="loginDiv">
  <a href="#" onclick="onLoginButtonClicked()" id="login">Login</a>
</div> 
</div>-->

<!--
<div>
  <ul ng-repeat="person in people">
    <li>{{somebody}}</li>
  </ul>
  <input type="text" ng-model="newPerson"/>	
  <button type="submit" ng-click="addPerson()">Add New Person</button>
</div>
