<!-- <div>
    <div class="facebook">
        <a ng-click="login('facebook')"><img src="./assets/fb.png" id="fbimg"></a> 
      </div> 
</div>

<div ng-controller="CollapseDemoCtrl">
	<button class="btn btn-default" ng-click="isCollapsed = !isCollapsed">Toggle collapse</button>
	<hr>
	<div collapse="isCollapsed">
		<div class="well well-lg">Some content</div> 
	</div>
</div> -->
<br/>
<br/>
<br/>

<div id="user-profile"></div>

<p align="center"><img ng-src="{{ user.picture.data.url }}" /></p>
<h2 align="center">Hello {{user.first_name}}, this is your dashboard.</h2>
  

<table class="table">  
        <thead>  
          <tr>  
            <th>Name</th>  
            <th>Status</th>  
            <th></th>  
          </tr>  
        </thead>  
        <tbody>   
          <tr>  
            <td>Le456</td>  
            <td>Owes you</td>  
            <td>Reddy</td> 
          </tr>  
          <tr>  
            <td>002</td>  
            <td>Smita</td>  
            <td>Pallod</td>
          </tr>   
          <tr>  
            <td>002</td>  
            <td>Smita</td>  
            <td>Pallod</td>
          </tr> 
        </tbody>  
      </table>  

<p><a href="#" ng-click="logout()">logout</a></p>


</body>
